{% schema %}
{
  "name": "Video Banner",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "desktop_banner_height",
      "label": "Desktop Banner Height",
      "min": 200,
      "max": 800,
      "step": 200,
      "unit": "px",
      "default": 200
    },
    {
      "type": "range",
      "id": "mobile_banner_height",
      "label": "Mobile Banner Height",
      "min": 200,
      "max": 800,
      "step": 200,
      "unit": "px",
      "default": 200
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading_text",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "limit": 1,
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video (Shopify hosted)"
        },
        {
          "type": "image_picker",
          "id": "video_image",
          "label": "Cover image"
        },
        {
          "type": "checkbox",
          "id": "video_loop",
          "label": "Play video on loop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "video_autoplay",
          "label": "Autoplay",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "outline_button",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Banner",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

{% style %}
  .video-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }
  
  .video-banner .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #000;
    padding: 10px 20px;
  }

  .video-overlay-play-icon {
    display: {{ section.settings.video_autoplay }};
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #000;
  }
{% endstyle %}

<div class="video-banner color-{{ section.settings.color_scheme }} gradient" style="height: {{ section.settings.desktop_banner_height }}px;">
  {%- for block in section.blocks -%}
      {% if block.type == "video" %}
        
        {% comment %}
        <video
          {% if block.settings.video_autoplay %} autoplay {% endif %}
          {% if block.settings.video_loop %} loop {% endif %} muted playsinline
          controls
          style="width: 100%; height: 100%;">
          <source src="{{ block.settings.video | video_url }}" type="video/mp4">
        </video>
        {% endcomment %}
        
        <deferred-media>
          <template>
            {%- if section.settings.video == null and section.settings.video_url != null -%}
              {%- liquid
                assign loop = ''
                if section.settings.enable_video_looping
                  assign loop = '&loop=1&playlist=' | append: video_id
                endif
              -%}
              {%- if section.settings.video_url.type == 'youtube' -%}
                <iframe
                  src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                  class="js-youtube"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                  title="{{ section.settings.description | escape }}"
                ></iframe>
              {%- else -%}
                <iframe
                  src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                  class="js-vimeo"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                  title="{{ section.settings.description | escape }}"
                ></iframe>
              {%- endif -%}
            {%- else -%}
              {{
                section.settings.video
                | video_tag:
                  image_size: '1100x',
                  autoplay: true,
                  loop: section.settings.enable_video_looping,
                  controls: true,
                  muted: false
              }}
            {%- endif -%}
          </template>
        </deferred-media>
        
        <div class="video-overlay-play-icon">▶</div>
      {% endif %}
      
      {% if block.type == "heading" %}
        <h1 style="font-size: {{ block.settings.heading_size }};">{{ block.settings.heading_text }}</h1>
      {% endif %}
      
      {% if block.type == "button" %}
        <a href="{{ block.settings.button_link }}" class="button">{{ block.settings.button_label }}</a>
      {% endif %}
  {%- endfor -%}  
</div>